:root {
    --globe-fill: #000000;
    --globe-outline: #ffffff;
    --star-fill: #ffffff;
    --constellation-fill: #ffffff;
    --constellation-opacity: 1;
    --graticule-fill: #ffffff;
    --graticule-opacity: 1;
    --graticule-dash: 1;
}

#background * {
    fill: var(--globe-fill);
}

#constLines * {
    fill: none;
    stroke-width: 0.27px;
    stroke-opacity: var(--constellation-opacity);
    /* To change constellation color, change stroke */
    stroke: var(--constellation-fill);
}

#mapBorder * {
    stroke: var(--globe-outline);
    stroke-width: 4;
}

#stars * {
    fill: var(--star-fill);
    stroke: var(--star-fill);
}

#gridLines * {
    fill: none;
    stroke-width: 0.27px;
    stroke-dasharray: var(--graticule-dash);
    /* To change globe lines color, change stroke */
    stroke: var(--graticule-fill);
    /* To make globe lines less noticable, decrease stroke-opacity */
    stroke-opacity: var(--graticule-opacity);
    fill-opacity: var(--graticule-opacity);
}

input[type="color"] {
    margin: .4rem;
}

label {
    font: 1rem 'Fira Sans', sans-serif;
}